<!-- CSS Page Style -->
<link rel="stylesheet" href="unify/css/pages/page_log_reg_v1.css">

<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form class="reg-page">
        <div class="reg-header">
          <h2>註冊新帳號</h2>
          <p>如果已經註冊帳號，請直接<a href="/login" class="color-green">登入</a>即可。</p>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>姓氏</label>
            <input type="text" class="form-control margin-bottom-20">
          </div>
          <div class="col-sm-6">
            <label>名字</label>
            <input type="text" class="form-control margin-bottom-20">
          </div>
        </div>

        <label>Email <span class="color-red">*</span></label>
        <input type="text" class="form-control margin-bottom-20">
        
        <label>帳號 <span class="color-red">*</span></label>
        <input type="text" class="form-control margin-bottom-20">

        <div class="row">
          <div class="col-sm-6">
            <label>密碼 <span class="color-red">*</span></label>
            <input type="password" class="form-control margin-bottom-20">
          </div>
          <div class="col-sm-6">
            <label>再次確認密碼 <span class="color-red">*</span></label>
            <input type="password" class="form-control margin-bottom-20">
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-lg-6 checkbox">
            <label>
              <input type="checkbox">
              我已閱讀並且同意<a href="page_terms.html" class="color-green">會員服務條款</a>
            </label>
          </div>
          <div class="col-lg-6 text-right">
            <button class="btn-u" type="submit">註冊</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div><!--/container-->
<!--=== End Content Part ===-->