<fieldset>

  <section >
    <label class="label">訂單狀態</label>
    <label class="select state-disabled">
      <select v-model="data.item.RecipeOrder.productionStatus" disabled>
        <option value="NEW" selected>NEW</option>
        <option value="SUBMITTED">下訂單</option>
        <option value="PAID">已付款</option>
        <option value="PROCESSING">製作中</option>
        <option value="CANCELLED">取消</option>
        <option value="SHIPPED">已寄出</option>
        <option value="DELIVERED">已交付</option>
        <option value="COMPLETED">完成</option>
      </select> <i></i> </label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">交易編號
      <input class="allpay" type="text" name="TradeNo" placeholder="TradeNo" v-model="data.item.TradeNo" disabled>
      <b class="tooltip tooltip-bottom-right">TradeNo</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">廠商交易編號
      <input class="allpay" type="text" name="MerchantTradeNo" placeholder="MerchantTradeNo" v-model="data.item.MerchantTradeNo" disabled>
      <b class="tooltip tooltip-bottom-right">MerchantTradeNo</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">交易代碼
      <input class="allpay" type="text" name="RtnCode" placeholder="RtnCode" v-model="data.item.RtnCode" disabled>
      <b class="tooltip tooltip-bottom-right">RtnCode</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled allpaydisabled">交易訊息
      <input class="allpay" type="text" name="RtnMsg" placeholder="RtnMsg" v-model="data.item.RtnMsg" disabled>
      <b class="tooltip tooltip-bottom-right">RtnMsg</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">付款時間
      <input class="allpay" type="text" name="PaymentDate" placeholder="PaymentDate" v-model="data.item.PaymentDate" disabled>
      <b class="tooltip tooltip-bottom-right">PaymentDate</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">交易日期
      <input class="allpay" type="text" name="TradeDate" placeholder="PaymentDate" v-model="data.item.TradeDate" disabled>
      <b class="tooltip tooltip-bottom-right">TradeDate</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">付款方式
      <input class="allpay" type="text" name="PaymentType" placeholder="PaymentType" v-model="data.item.PaymentType" disabled>
      <b class="tooltip tooltip-bottom-right">PaymentType</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">應收款項
      <input class="allpay" type="text" name="ShouldTradeAmt" placeholder="ShouldTradeAmt" v-model="data.item.ShouldTradeAmt" disabled>
      <b class="tooltip tooltip-bottom-right">ShouldTradeAmt</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">付款金額
      <input class="allpay" type="text" name="TradeAmt" placeholder="TradeAmt" v-model="data.item.TradeAmt" disabled>
      <b class="tooltip tooltip-bottom-right">TradeAmt</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">銀行代碼
      <input class="allpay" type="text" name="BankCode" placeholder="BankCode" v-model="data.item.BankCode" disabled>
      <b class="tooltip tooltip-bottom-right">BankCode</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">付款帳號
      <input class="allpay" type="text" name="vAccount" placeholder="vAccount" v-model="data.item.vAccount" disabled>
      <b class="tooltip tooltip-bottom-right">vAccount</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">交易期限
      <input class="allpay" type="text" name="ExpireDate" placeholder="ExpireDate" v-model="data.item.ExpireDate" disabled>
      <b class="tooltip tooltip-bottom-right">ExpireDate</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">支付交易編號
      <input class="allpay" type="text" name="PaymentNo" placeholder="PaymentNo" v-model="data.item.PaymentNo" disabled>
      <b class="tooltip tooltip-bottom-right">PaymentNo</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">Barcode1
      <input class="allpay" type="text" name="Barcode1" placeholder="Barcode1" v-model="data.item.Barcode1" disabled>
      <b class="tooltip tooltip-bottom-right">Barcode1</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">Barcode2
      <input class="allpay" type="text" name="Barcode2" placeholder="Barcode2" v-model="data.item.Barcode2" disabled>
      <b class="tooltip tooltip-bottom-right">Barcode2</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">Barcode3
      <input class="allpay" type="text" name="Barcode3" placeholder="Barcode3" v-model="data.item.Barcode3" disabled>
      <b class="tooltip tooltip-bottom-right">Barcode3</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">CheckMacValue
      <input class="allpay" type="text" name="CheckMacValue" placeholder="CheckMacValue" v-model="data.item.CheckMacValue" disabled>
      <b class="tooltip tooltip-bottom-right">CheckMacValue</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">訂單成立時間
      <input class="allpay" type="text" name="MerchantTradeDate" placeholder="MerchantTradeDate" v-model="data.item.MerchantTradeDate" disabled>
      <b class="tooltip tooltip-bottom-right">MerchantTradeDate</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">配方訂單ID
      <input class="allpay" type="text" name="RecipeOrderId" placeholder="RecipeOrderId" v-model="data.item.RecipeOrderId" disabled>
      <b class="tooltip tooltip-bottom-right">RecipeOrderId</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">createdAt
      <input class="allpay" type="text" name="createdAt" placeholder="createdAt" v-model="data.item.createdAt" disabled>
      <b class="tooltip tooltip-bottom-right">createdAt</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">updatedAt
      <input class="allpay" type="text" name="updatedAt" placeholder="updatedAt" v-model="data.item.updatedAt" disabled>
      <b class="tooltip tooltip-bottom-right">updatedAt</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">配方名稱
      <input class="allpay" type="text" name="ItemNameArray" placeholder="ItemNameArray" v-model="data.item.ItemNameArray" disabled>
      <b class="tooltip tooltip-bottom-right">ItemNameArray</b></label>
  </section>

  <section>
    <label class="input state-disabled allpaydisabled">訂購人
      <input class="allpay" type="text" name="UserName" placeholder="UserName" v-model="data.item.UserName" disabled>
      <b class="tooltip tooltip-bottom-right">UserName</b></label>
  </section>

  <section>
    <label class="input state-disabled">收件人
      <input type="text" name="Recipient" placeholder="Recipient" v-model="data.item.Recipient" disabled>
      <b class="tooltip tooltip-bottom-right">Recipient</b></label>
  </section>

  <section>
    <label class="input state-disabled">Email
      <input type="text" name="Email" placeholder="Email" v-model="data.item.Email" disabled>
      <b class="tooltip tooltip-bottom-right">Email</b></label>
  </section>

  <section>
    <label class="input state-disabled">電話
      <input type="text" name="Phone" placeholder="Phone" v-model="data.item.Phone" disabled>
      <b class="tooltip tooltip-bottom-right">Phone</b></label>
  </section>

  <section>
    <label class="input state-disabled">地址
      <input type="text" name="Address" placeholder="Address" v-model="data.item.Address" disabled>
      <b class="tooltip tooltip-bottom-right">Address</b></label>
  </section>

  <section>
    <label class="input state-disabled">備註
      <input type="text" name="Note" placeholder="Note" v-model="data.item.Note" disabled>
      <b class="tooltip tooltip-bottom-right">Note</b></label>
  </section>

</fieldset>

<script>
var formRules = {
  Recipient : {
    required : true
  },
  Email : {
    required : true,
    email : true
  },
  Phone : {
    required : true
  },
  Address : {
    required : true
  },
}

  // Messages for form validation
var formMessages = {
  Recipient : {
    required : '請輸入收件者'
  },
  Email : {
    required : '請輸入電子郵件',
    email : '請確認輸入的 Email 格式'
  },
  Phone : {
    required : '請輸入電話號碼'
  },
  Address : {
    required : '請輸入地址'
  },
}
</script>
