var COMMON = {
  DOUBLE_CLICK_TIME_PERIOD: 250,
  DEFAULT_INDEX: -1,
  DEFAULT_AVATAR: "/assets/admin/img/avatars/default.png",
};

var itemBeforeEdit = {};
var prefix = 'admin/';
var modelName = "allpay";
var appModel = {
  modelName: modelName,
  prefix: prefix,
  data: {
    item:{
      id: '',
      TradeNo: '',
      MerchantTradeNo: '',
      RtnCode: '',
      RtnMsg: '',
      PaymentDate: '',
      TradeDate: '',
      PaymentType: '',
      ShouldTradeAmt: '',
      TradeAmt: '',
      BankCode: '',
      vAccount: '',
      ExpireDate: '',
      PaymentNo: '',
      Barcode1: '',
      Barcode2: '',
      Barcode3: '',
      CheckMacValue: '',
      MerchantTradeDate: '',
      createdAt: '',
      updatedAt: '',
      RecipeOrderId: '',
      ItemNameArray: '',
      UserName: '',
      Email: '',
      Phone: '',
      Address: '',
      Note: '',
    },
    items: [],
    option: {
      exportCSV: true,
      defaultSort: [[ 22, 'desc' ]]
    }
  },
  view: {
    table: {
      selectIndex: COMMON.DEFAULT_INDEX,
    },
  }
}

/* TABLETOOLS */

<%- include ../default/vue.ejs %>
// 需要新增函式可以對 appMain 進行定義，如：
// appMain.log = function () {console.log("123")}
appMain.disableAllpay = function(){
  $('.allpay').attr('disabled', true);
  $('.allpaydisabled').addClass('state-disabled');
}
appMain.DataTableInitComplete = function() {
  var api = this.api();
  this.yadcf([
    {        
      column_number: 3,
      filter_type: "range_date",
      filter_container_id: "external_filter_container",
      date_format: 'yy/mm/dd',
    },
  ]);
  var slesct = '<span>訂單狀態：</span>'+
  '<select class="form-control input-sm" id="productionStatus" style="margin-right: 5px;">'+
    '<option value=""></option>' +
    '<option value="NEW">NEW</option>' +
    '<option value="SUBMITTED">下訂單</option>' +
    '<option value="PAID">已付款</option>' +
    '<option value="PROCESSING">製作中</option>' +
    '<option value="CANCELLED">取消</option>' +
    '<option value="SHIPPED">已寄出</option>' +
    '<option value="DELIVERED">已交付</option>' +
    '<option value="COMPLETED">完成</option>' +
  '</select>';
  $(slesct).prependTo('.DTTT_container');
  $('#productionStatus').on('change', function(){
    api.columns().search().draw();
  })
}
appMain.customSearch = function() {
  var searchProductionStatus = $('#productionStatus').val() || "";
  if (searchProductionStatus !== '') {
    appModel.pagingQuery.columns.push({
      data: '',
      searchable: true,
      findInclude: true,
      search: {
        model: 'RecipeOrder',
        where: {
          productionStatus: $('#productionStatus').val(),
        }
      }
    })
  }
}
