<fieldset>

  <section>
    <label class="label">內容</label>
    <label class="input state-disabled">
      <input type="text" name="content" placeholder="" v-model="data.item.content" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入內容</b></label>
  </section>

  <section>
    <label class="label">來源</label>
    <label class="input state-disabled">
      <input type="text" name="source" placeholder="" v-model="data.item.source" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入來源</b></label>
  </section>
</fieldset>
<script>
var formRules = {
  content : {
    required : true
  },
  source : {
    required : true
  },
}

// Messages for form validation
var formMessages = {
  content : {
    required : '請給予內容'
  },
  source : {
    required : '請給予來源'
  },
}
</script>
