<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<title> SmartAdmin (AJAX)</title>
<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<% include partials/styles.ejs %>
</head>
<body class="smart-style-2">

	<% include partials/header %>

	<!-- #MAIN PANEL -->
	<div id="main" role="main">

		<!-- RIBBON -->
		<div id="ribbon">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<!-- This is auto generated -->
			</ol>
			<!-- end breadcrumb -->
		</div>
		<!-- END RIBBON -->

		<!-- #MAIN CONTENT -->
		<div id="content"></div>
		<!-- END #MAIN CONTENT -->

	</div>
	<!-- END #MAIN PANEL -->

  <% include partials/footer %>
	<% include partials/scripts %>

</body>

</html>