<!-- widget grid -->
<section id="user-index" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="user-table-widget" data-widget-editbutton="false" style="display: none;">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->

        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Dashboard</h2>
        </header>

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

	<!-- end row -->

</section>
<!-- end widget grid -->
<script type="text/javascript">



	pageSetUp();



	var pagefunction = function() {

	};

	// load related plugins

	loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);

	var pagedestroy = function() {

	}

</script>
