<style>
#newRecipe > li{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>

<!--=== Footer Version 1 ===-->
<div class="footer-v1">
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-md-3 md-margin-bottom-40 text-center">
        <a href="index.html"><img id="logo-footer" class="footer-logo" src="/assets/mvp/main/admin/img/logo.png" width="120" alt=""></a>
        <div class=" text-left">
          <p>Cargo</p>
        </div>
      </div><!--/col-md-3-->
      <!-- End About -->

      <!-- Latest -->
      <!-- <div class="col-md-3 md-margin-bottom-40">
        <div class="posts">
          <div class="headline"><h2>近期活動</h2></div>
          <ul class="list-unstyled latest-list">
            <li>
              <a href="#">LFP in 台北 八月松菸誠品進駐計畫</a>
              <small>May 8, 2016</small>
            </li>
            <li>
              <a href="#">嗅覺培養皿工作坊 in 高雄</a>
              <small>June 23, 2016</small>
            </li>
            <li>
              <a href="#">7/3台北調香工作坊 早鳥優惠報名中！</a>
              <small>September 15, 2016</small>
            </li>
          </ul>
        </div>
      </div> -->
      <!-- End Latest -->
      <!-- Latest -->
      <div class="col-md-3 md-margin-bottom-40">
        <div class="posts">
          <div class="headline"><h2>最新文章</h2></div>
          <ul id="newRecipe" class="list-unstyled latest-list"></ul>
        </div>
      </div>
      <!-- End Latest -->

      <!-- Link List -->
      <div class="col-md-3 md-margin-bottom-40">
        <div class="headline"><h2>網站地圖</h2></div>
        <ul class="list-unstyled link-list">
          <li><a href="/wall">近期動態</a><i class="fa fa-angle-right"></i></li>
          <li><a href="/blog">網誌</a><i class="fa fa-angle-right"></i></li>
        </ul>
      </div><!--/col-md-3-->
      <!-- End Link List -->

      <!-- Address -->
      <div class="col-md-3 map-img md-margin-bottom-40">
        <div class="headline"><h2>聯繫我們</h2></div>
        <address class="md-margin-bottom-40">
          <br/>
          <br />
          <a href="">立即前往</a><br/>
          Tel: <a href="tel:+886423015799">(04)2301-5799</a><br/>
          Email: <a href="mailto:info@trunk.studio" class="">info@trunk.studio</a>
        </address>
      </div><!--/col-md-3-->
      <!-- End Address -->
    </div>
  </div>
</div><!--/footer-->

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          Copyright © Trunk Studio
          <!--<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>-->
        </p>
      </div>

      <!-- Social Links -->
      <div class="col-md-6">
        <ul class="footer-socials list-inline">
          <li>
            <a href="https://facebook.com/trunkStudio" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- End Social Links -->
    </div>
  </div>
</div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->

<% LayoutUtils.addScriptBlock(`
`); %>
