
<fieldset>

  <section>
    <label class="input"> <i class="icon-append fa fa-user"></i>
      <input type="text" name="title" placeholder="標題" v-model="data.item.title">
      <b class="tooltip tooltip-bottom-right">請輸入標題</b> </label>
  </section>

  <section>
    <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
      <input type="text" name="abstract" placeholder="簡述" v-model="data.item.abstract">
      <b class="tooltip tooltip-bottom-right">請輸入 100 字以內的簡短的描述</b> </label>
  </section>

  <section>
    <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
      <input type="text" name="content" placeholder="內容" v-model="data.item.content">
      <b class="tooltip tooltip-bottom-right">請輸入內容</b> </label>
  </section>

  <section>
    <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
      <input type="text" name="cover" placeholder="封面" v-model="data.item.cover">
      <b class="tooltip tooltip-bottom-right">輸入圖片網址</b> </label>
  </section>

  <section>
    <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
      <input type="text" name="url" placeholder="網址" v-model="data.item.url">
      <b class="tooltip tooltip-bottom-right">輸入網址</b> </label>
  </section>

<!--
  <div class="row">
    <section class="col col-6">
      <label class="select">
        <select name="gender">
          <option value="0" selected="" disabled="">Gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Prefer not to answer</option>
        </select> <i></i> </label>
    </section>
    <section class="col col-6">
      <label class="input"> <i class="icon-append fa fa-calendar"></i>
        <input type="text" name="request" placeholder="Request activation on" class="datepicker" data-dateformat='dd/mm/yy'>
      </label>
    </section>
  </div>

  <section>
    <label class="checkbox">
      <input type="checkbox" name="subscription" id="subscription">
      <i></i>I want to receive news and special offers</label>
    <label class="checkbox">
      <input type="checkbox" name="terms" id="terms">
      <i></i>I agree with the Terms and Conditions</label>
  </section> -->
</fieldset>
