/*.logo h1 {*/
/*  font-family: Bell MT;*/
/*  font-size: 40px;*/
/*  height: 50px;*/
/*  padding-top: 15px;*/
/*  color: #777;*/
/*  text-shadow: 2px 2px 2px #ddd;*/
/*}*/

.brand-font {
  font-family: Bell MT;
}

.header .logo img {
  margin: 5px 0;
}

.header .topbar ul.loginbar > li > a, .header .topbar ul.loginbar > li > a:hover {
  font-size: 13px;
}

.header .navbar-nav > li > a {
  text-transform: none;
}

body {
  overflow-x: hidden;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}