<style>
.interactive-slider-v2 {
  padding: 0 0;
  background-image: url(http://www.labfnp.com/modules/core/img/intro-bg.jpg);
}

.interactive-slider-v2 img {
}

.interactive-slider-v2:after {
  background: linear-gradient(to bottom, rgba(0,0,0,.5) 5%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
}

.purchase span {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 150%;
  font-size: 22px;
  font-weight: 300;
}

.purchase p {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 150%;
  font-size: 16px;
  font-weight: 100;
}

.headline h2 {
  font-size: 26px;
  font-family: 'Noto Sans TC', sans-serif;
  /* font-family: 'cwTeXHei', sans-serif; */
  font-weight: 700;
}

p.lead {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 200%;
  font-size: 20px;
  font-weight: 300;
}

.testimonials-v3 .item > p {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
}

.purchase .btn-u {
  font-size: 18px;
}

.feature-buttons {
  position: relative;
  top: -50px;
}

.feature-buttons .btn-u {
  color: #333;
  background: rgba(255,255,255,.7);
}

.feature-buttons .btn-u:hover {
  background: rgba(255,255,255,1);
}
</style>

<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2">
  <div class="container">
    <img src="/assets/labfnp/img/hero-bg.png" alt="" class="img-responsive animated zoomIn" />
    <!--
    <h1>Laboratory of Fragrance & Perfume</h1>
    <p>我們提供香味分子、不同香調與課程，協助您創作專屬的個人香水</p>
    -->
    <div class="feature-buttons">
      <a href="/lab" class="btn-u rounded">
        <i class="fa fa-flask fa-fw"></i>
        開始香水創作
      </a>
      <a href="https://www.facebook.com/LabFnP" target="_blank" class="btn-u rounded">
        <i class="fa fa-facebook fa-fw"></i>
        FACEBOOK
      </a>
    </div>
  </div>
</div>
<!-- End Interactive Slider v2 -->

<!--=== Purchase Block ===-->
<div class="purchase">
	<div class="container overflow-h">
		<div class="row">
			<div class="col-md-9">
				<span class="call-to-action">我們認為香水是每個人最獨特的風格呈現</span>
				<p class="hidden-sm hidden-xs">我們提供您不同香調的香味分子，由您創作並決定香型組成，由我們製作並把關品質。</p>
			</div>
			<div class="col-md-3 btn-buy animated bounce">
				<a href="#" class="btn-u btn-u-lg"><i class="fa fa-eyedropper"></i> 登入配方創作系統</a>
			</div>
		</div>
	</div>
</div><!--/row-->
<!-- End Purchase Block -->

<div class="container content-sm">

  <div class="row">
    <div class="col-md-6">
      <div class="headline">
        <h2>為什麼是客製化香水？</h2>
      </div>

      <p class="lead">香水和每個人的氣味，都應該是具有獨特性並具有標誌性的，而唯有透過每個人感受與創造氣味，才能追尋出每個不同自我。</p>
    </div>

    <div class="col-md-6">
      <img src="assets/labfnp/img/ipad.png" alt="" class="img-responsive" />
    </div>

  </div>

</div>

<div class="service-block-v4">
  <div class="container content-sm">

    <div class="row">
      <div class="col-md-6">
        <img src="assets/labfnp/img/product_item1.jpg" alt="" class="img-responsive img-rounded" />
      </div>

      <div class="col-md-6">
        <div class="headline">
          <h2><span class="brand-font">LFP：Laboratory of Fragrance & Perfume</span><br/>香料香水實驗室</h2>
        </div>

        <p class="lead">透過課程與實體門市並結合 <span class="brand-font">LFP</span> 配方系統，
提供您不同香調的香味分子，由您創作並決定香型組成，<span class="brand-font">LFP</span> 協同創作。</p>
      </div>


    </div>

  </div>
</div>

<div class="container content-sm">

  <div class="row">
    <div class="col-md-6">
      <div class="headline">
        <h2><span class="brand-font">LFP</span> 相信</h2>
      </div>

      <p class="lead">每個人皆有與生俱來的創造力與獨特性，促發人群對於像覺得好奇心與自我價值的展現是我們所努力追求的。</p>
    </div>

    <div class="col-md-6">
      <div class="responsive-video">
        <iframe width="458" height="287" src="https://www.youtube.com/embed/J6NrnyfII5Y" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>

</div>

<div class="service-block-v4">
  <div class="container content-sm">

    <div class="row">
      <div class="col-md-6">
        <img src="assets/labfnp/img/chart-01.png" alt="" class="img-responsive" />
      </div>

      <div class="col-md-6">
        <div class="headline">
          <h2>簡單化流程<br/>帶您體驗調香的樂趣</h2>
        </div>
        <p class="lead">透過聞香、搭配香味骨架以及創作香水樣品，確認香味組成，輕鬆擁有第一瓶由你創作的客製化香水</p>
      </div>
    </div>

  </div>
</div>

<div class="testimonials-v3">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<ul class="list-unstyled owl-ts-v1">
					<li class="item">
						<img class="rounded-x img-bordered" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/13138892_10209763566952175_2112189963431619354_n.jpg?oh=48120eac159d2c4d6887efefbb993616&oe=5818015E" alt="">
						<div class="testimonials-v3-title">
							<p>Tina Wang</p>
							<span>台中市</span>
						</div>
						<p>怎麼沒有六顆心的欄位可以選呢？<br/>
店員很仔細講解<br/>
幾乎每種香味都試過後才進行調香<br/>
非常物超所值！<br/>
不僅帶著專屬自己的香水回家<br/>
也上了一堂調香課呢！</p>
					</li>
					<li class="item">
						<img class="rounded-x img-bordered" src="https://randomuser.me/api/portraits/women/32.jpg" alt="">
						<div class="testimonials-v3-title">
							<p>Tina Krueger</p>
							<span>UI Designer, Apple</span>
						</div>
						<p>Keep up the great work. Your template is by far the best on the market in terms of features, quality and value or money.</p>
					</li>
					<li class="item">
						<img class="rounded-x img-bordered" src="https://randomuser.me/api/portraits/women/55.jpg" alt="">
						<div class="testimonials-v3-title">
							<p>John Clarck</p>
							<span>Marketing &amp; Cunsulting, IBM</span>
						</div>
						<p>So far I really like the theme. I am looking forward to exploring more of your themes. Thank you!</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<% LayoutUtils.addScripts('/assets/unify/js/app.js', '/assets/unify/js/plugins/owl-carousel.js'); %>
<% LayoutUtils.addScriptBlock(`
jQuery(document).ready(function() {
  App.init();
		OwlCarousel.initOwlCarousel();
});
`); %>