<script src="//d3js.org/d3.v3.min.js"></script>

<style>
.sky-form section {
  margin-bottom: 0;
}
#total-drops {
	font-size: 48px;
}
#orver-drops {
  visibility: hidden;
  font-weight: bold;
  font-size: 16px;
}
@media (min-width: 992px) {
  .col-md-4.drops-chart {
    position: fixed;
    top: 9em;
    right: 0px;
  }
  .footer-v1 {
    position: relative;
  }
}

</style>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/file-uploader/5.10.0/all.fine-uploader/fine-uploader-new.min.css">
<!--=== Content Part ===-->
<div class="container content">
	<div class="row">

		<!-- Begin Content -->
		<div class="col-md-8">
			<!-- General Unify Forms -->
      <form id="main-form" action="/api/labfnp/recipe" method="post" class="sky-form">
        <%- include form.ejs %>
      </form>
			<!-- General Unify Forms -->

		</div>
		<div class="col-md-4 drops-chart">
		  <p>目前滴數總和 <span id="total-drops">0</span> drops</p>

      <section class="text-center">
        <span id="orver-drops">請勿超過 50 滴！</span></p>
      </section>

      <!-- create container element for visualization -->
      <!-- <div id="d3-container" class="animated"></div> -->
      <div id="pieChart"></div>

	  </div>
		<!-- End Content -->
	</div>
</div><!--/container-->
<!--=== End Content Part ===-->
<% LayoutUtils.addScripts('/assets/admin/js/libs/fine-uploader.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/scents/main.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/lib/fineuploader.js'); %>
<% LayoutUtils.addScripts ('/assets/admin/js/plugin/d3/d3pie.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/pieChartForForm.js'); %>
