<fieldset>

  <section class="recipe-info">
    <section>
      <label class="label">香水名稱</label>
      <label class="input">
        <input type="text" name="perfumeName" class="perfumeName input-lg" placeholder="請輸入名稱">
      </label>
    </section>
    <section>
      <label class="label">作者名稱</label>
      <label class="input">
        <input type="text" name="authorName" class="authorName input-lg" placeholder="請輸入作者名稱">
      </label>
    </section>
    <section>
      <label class="label">紀錄</label>
      <label class="textarea textarea-expandable">
        <textarea rows="3" name="formulaLogs" class="formulaLogs custom-scroll"></textarea>
      </label>
    </section>
  </section>

  <section class="recipe-combo">
    <!-- row-0 -->
    <div class="row">
      <section class="col col-6">
        <label class="label">成分種類</label>
        <label class="select">
          <select name="ingredient" id="ingredient" class="ingredient input-sm">
            <option value="">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="label">滴數</label>
        <label class="input">
          <input type="number" value="0" name="drops" id="drops" class="drops">
        </label>
      </section>
    </div>
    <!-- end-row -->

    <!-- row-1 -->
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" id="ingredient" class="ingredient input-sm">
            <option value="">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="number" value="0" name="drops" id="drops" class="drops">
        </label>
      </section>
    </div>
    <!-- end-row -->

    <!-- row-2 -->
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" id="ingredient" class="ingredient input-sm">
            <option value="">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="number" value="0" name="drops" id="drops" class="drops">
        </label>
      </section>
    </div>
    <!-- end-row -->

    <!-- row-3 -->
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" id="ingredient" class="ingredient input-sm">
            <option value="">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="number" value="0" name="drops" id="drops" class="drops">
        </label>
      </section>
    </div>
    <!-- end-row -->

    <!-- row-4 -->
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" id="ingredient" class="ingredient input-sm">
            <option value="">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="number" value="0" name="drops" id="drops" class="drops">
        </label>
      </section>
    </div>
    <!-- end-row -->

    <!-- row-5 -->
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" id="ingredient" class="ingredient input-sm">
            <option value="">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="number" value="0" name="drops" id="drops" id class="drops">
        </label>
      </section>
    </div>
    <!-- end-row -->
  </section>

</fieldset>
