
<section class="recipe-combo">
  <div class="row">
    <section class="col col-5">
      <label class="label">成分種類</label>
      <label class="select">
        <select name="ingredient" class="ingredient input-sm">
          <option value="0">選取一種成份</option>
          <option value="1">Alexandra</option>
          <option value="2">Alice</option>
          <option value="3">Anastasia</option>
          <option value="4">Avelina</option>
        </select> <i></i> </label>
    </section>
    <section class="col col-5">
      <label class="label">滴數</label>
      <label class="input">
        <input type="text" name="drops" class="drops" placeholder="1/2/3...">
      </label>
    </section>
    <!-- <section class="col col-1">
      <label class="label" style="color:white;">－</label>
      <label class="input">
        <button type="button" class="btnCutRow btn btn-danger btn-sm hidden">
          －
        </button>
      </label>
    </section>
    <section class="col col-1">
      <label class="label" style="color:white;">＋</label>
      <label class="input">
        <button type="button" class="btnAddRow btn btn-primary btn-sm">
          ＋
        </button>
      </label>
    </section> -->
  </div>
</section>
