
<div class="row">
	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
		<h1 class="page-title txt-color-blueDark">

			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-pencil-square-o"></i>
				配方資料
			<span>>
				編輯
			</span>
		</h1>
	</div>

</div>

<!-- widget grid -->
<section id="main-edit" class="">


	<!-- START ROW -->

	<div class="row">


		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"

				-->
        <header role="heading">
          <div class="jarviswidget-ctrls" role="menu"></div>
					<span class="widget-icon"><i class="fa fa-edit"></i></span>
					<h2>配方資料維護</h2>
				  <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
          </span>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form id="main-form" class="smart-form">
							<input type="text" name="id" id="id" v-model="data.item.id" hidden="hidden" value="<%= req.params.id %>">

							<%- include form.ejs %>

							<footer>
								<button type="button" v-on:click="cancel" class="btn btn-default">
									取消
								</button>
								<button type="submit" class="btn btn-primary">
									儲存
								</button>
								<button type="button" v-on:click="delete" class="btn btn-danger pull-left">
									刪除
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->

</section>
<!-- end widget grid -->


<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">

	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();


	// PAGE RELATED SCRIPTS

	// pagefunction
	var pagefunction = function() {
		<%- include vue.ejs %>
		userApp.$mount("#main-edit");
    userApp.onEnterPageEdit();
	};

	// var pagedestroy = function() {
      // $(window).unload(function() {
      //   return "Handler for .unload() called.";
      // });
	// }

	// end pagefunction

	// Load form valisation dependency
	loadScript("/assets/admin/js/plugin/jquery-form/jquery-form.min.js", pagefunction);

</script>
