<% LayoutUtils.addStylesheets('/assets/admin/css/smartadmin-default-index.css'); %>

<!-- client -->
<table id="main-table" class="table table-striped table-bordered table-hover" width="100%">
	<thead>
		<tr>
			<th width="10%" class="no-search" data-hide="phone"><i class="fa fa-fw text-muted fa-hashtag hidden-sm hidden-xs"/> ID</th>
      <th width="35%" data-class="expand"><i class="fa fa-fw fa-sticky-note text-muted hidden-xs" /> 香水名稱</th>
      <th width="15%" data-hide=""><i class="fa fa-fw fa-user text-muted hidden-xs" /> 創作人</th>
      <th width="15%" data-hide="phone,tablet" style="">建立日期</th>
      <th width="15%" class="no-search" data-hide="">公開狀態</th>
      <th class="no-search" data-hide="always" style="width: 30%;">
				<i class="fa fa-fw fa-comment text-muted hidden-xs" /> 香水描述
			</th>
      <th class="no-search" data-hide="always" style="width: 30%;">
				<i class="fa fa-fw fa-comment text-muted hidden-xs" /> 額外資訊
			</th>
			<th width="10%" class="no-sort no-search" data-hide="phone,tablet"></th>

			<template v-for="n in 6">
				<th class="no-sort" data-hide="always">
					<i class="fa-fw fa fa-pie-chart fa-comment text-muted" /> 香味分子{{n+1}}
				</th>
			</template>
		</tr>
	</thead>
	<!-- client only -->
	<tbody>
		<tr v-for="item in data.items">
      <td>{{ item.id }}</td>
      <td><a href="/admin/#/admin/labfnp/recipe/show/{{item.id}}">{{ item.perfumeName }}</a></td>
      <td>{{ item.authorName }}</td>
      <td>{{ item.createdAt }}</td>
      <td>{{ item.visibilityDesc }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.message }}</td>
			<td align="center" style="cursor: pointer;">
				<div class="row">
					<a class="btn btn-default btn-xs" role="button" v-on:click="show(item.id)">
						<i class="fa-fw fa fa-eye text-muted" />
					</a>
					<a class="btn btn-default btn-xs" role="button" v-on:click="edit(item.id)">
						<i class="fa-fw fa fa-pencil-square-o text-muted"/>
					</a>
				</div>
			</td>

      <template v-for="n in 6">
        <td>{{ item.displayFormula[0].value }}</td>
      </template>

		</tr>
	</tbody>
 </table>


<script type="text/javascript">
	var pagefunction = function() {

		// server only
		var columns = [
			{ "data": "id" },
			{ "data": "perfumeName" },
			{ "data": "authorName" },
			{ "data": "createdAt" },
      { "data": "visibilityDesc" },
      { "data": "description" },
      { "data": "message" },
			{ "data": null },
			{ "data": null },
			{ "data": null },
			{ "data": null },
			{ "data": null },
			{ "data": null },
			{ "data": null },
		]

		// server only
		var columnDefs = [
      {
        "targets": 'no-sort',
        "orderable": false,
      },
      {
        "targets": "no-search",
        "searchable": false
      },
			{
				"targets"  : 7,
				"orderable": false,
				"searchable": false,
				"render": function ( data, type, row ) {
					var colBody =
					'<div class="row-action-buttons hidden-xs hidden-sm">'+
						'<a class="btn btn-default btn-xs" role="button" onclick="window.appMain.show('+row.id+')">'+
							'<i class="fa-fw fa fa-eye text-muted" />'+
						'</a>'+
						'<a class="btn btn-default btn-xs" role="button" onclick="window.appMain.edit('+row.id+')">'+
							'<i class="fa-fw fa fa-pencil-square-o text-muted"/>'+
						'</a>'+
					'</div>';
					return colBody;
				}
			},
			{
				"targets"  : 8, "orderable": false, "searchable": false,
				"render": function ( data, type, row ) {
					var json = typeof data.displayFormula === 'undefined' ? '' : data.displayFormula;
					var colBody = typeof json[0] === 'undefined' ? '' : json[0].value;
					return colBody;
				}
			},
			{
				"targets"  : 9, "orderable": false, "searchable": false,
				"render": function ( data, type, row ) {
					var json = typeof data.displayFormula === 'undefined' ? '' : data.displayFormula;
					var colBody = typeof json[1] === 'undefined' ? '' : json[1].value;
					return colBody;
				}
			},
			{
				"targets"  : 10, "orderable": false, "searchable": false,
				"render": function ( data, type, row ) {
					var json = typeof data.displayFormula === 'undefined' ? '' : data.displayFormula;
					var colBody = typeof json[2] === 'undefined' ? '' : json[2].value;
					return colBody;
				}
			},
			{
				"targets"  : 11, "orderable": false, "searchable": false,
				"render": function ( data, type, row ) {
					var json = typeof data.displayFormula === 'undefined' ? '' : data.displayFormula;
					var colBody = typeof json[3] === 'undefined' ? '' : json[3].value;
					return colBody;
				}
			},
			{
				"targets"  : 12, "orderable": false, "searchable": false,
				"render": function ( data, type, row ) {
					var json = typeof data.displayFormula === 'undefined' ? '' : data.displayFormula;
					var colBody = typeof json[4] === 'undefined' ? '' : json[4].value;
					return colBody;
				}
			},
			{
				"targets"  : 13, "orderable": false, "searchable": false,
				"render": function ( data, type, row ) {
					var json = typeof data.displayFormula === 'undefined' ? '' : data.displayFormula;
					var colBody = typeof json[5] === 'undefined' ? '' : json[5].value;
					return colBody;
				}
			}
		]
		var serverSidePaging = <%= (data.serverSidePaging != null)?data.serverSidePaging:false %>;
		<%- include vue.ejs %>
		appMain.$mount("#main-index");
		appMain.loadItems(appMain.renderTable);
	};
</script>
