<style>
  .drops, .scent {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  .scent {
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: white;
  }
  .name {
    padding-bottom: 10px !important;
  }
</style>
<!-- Bread crumbs -->
<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    <h1 class="page-title txt-color-blueDark">
			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-pencil-square-o"></i>
				配方資料
			<span>>
				詳細資料
			</span>
		</h1>
  </div>
</div>
<!-- END Bread crumbs -->

<!-- vue section -->
<section id="main-show">
  <input type="text" name="id" id="id" v-model="data.item.id" hidden="hidden" value="<%= req.params.id %>">

  <!-- row -->
  <div class="row" style="padding-top: 50px;">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="well-sm">
        <div class="row center-block">
          <div class="col-sm-12 col-md-12">
            <div class="well well-light well-sm no-margin no-padding">
              <div class="row">
                <div class="col-sm-12">
                  <div id="myCarousel" class="carousel fade profile-carousel">
                    <div class="air air-bottom-right padding-10">
                      <a href="/admin/#/admin/labfnp/recipe" class="btn btn-default">
                        返回
                      </a>
                      <a href="/admin/#/admin/labfnp/recipe/edit/{{data.item.id}}" class="btn btn-default">
                        編輯
                      </a>
                    </div>
                    <!-- end row -->
                  </div>

                  <!-- product -->
                  <div class="product-wrap clearfix product-deatil">
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                      <div class="product-image">
                        <div id="pieChart" class="text-center"></div>
                      </div>
                    </div>

                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                      <h2 class="name"><small>配方名稱</small>{{ data.item.perfumeName }}</h2>
                      <hr>
                      <div class="row">
                        <div class="col col-xs-6 vcol-md-3 col-sm-12 col-lg-3">
                          <h2 class="name"><small>創作人</small>{{ data.item.authorName }}</h2>
                        </div>
                        <div class="col col-xs-6 vcol-md-3 col-sm-12 col-lg-3">
                          <h2 class="name"><small>建立者</small>{{ data.item.User.displayName }}</h2>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col col-xs-6 vcol-md-3 col-sm-12 col-lg-3">
                          <h2 class="name"><small>公開狀態</small>{{ data.item.visibilityDesc }}</h2>
                        </div>
                        <!--<div class="col col-xs-6 vcol-md-3 col-sm-12 col-lg-3">
                          <h2 class="name"><small>製作狀態</small>{{ data.item.productionStatusDesc }}</h2>
                        </div>-->
                      </div>
                      <hr>
                      <!-- <small>評級</small>
            							<i class="fa fa-star fa-2x text-primary"></i>
            							<i class="fa fa-star fa-2x text-primary"></i>
            							<i class="fa fa-star fa-2x text-primary"></i>
            							<i class="fa fa-star fa-2x text-primary"></i>
            							<i class="fa fa-star fa-2x text-muted"></i>
            							<span class="fa fa-2x"><h5>(109) Votes</h5></span>
                          <hr> -->
                      <h4 class="name" v-if="data.item.description"><small>配方描述</small>{{ data.item.description }}</h4>
                      <h4 class="name" v-else><small>配方描述</small>沒有資料</h4>
                      <hr>
                      <h4 class="name" v-if="data.item.message"><small>其他訊息</small>{{ data.item.message }}</h4>
                      <h4 class="name" v-else><small>備註</small>沒有資料</h4>
                      <hr>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end product -->
            <!-- </div> -->
            <!-- new -->
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  </div>
  </div>
  <!-- end row -->

</section>
<!-- end widget grid -->

<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
pageSetUp();

// PAGE RELATED SCRIPTS pagefunction
var pagefunction = function() {
  <%- include vue.ejs %>
  <%- include pieChartAdmin.ejs %>
  appMain.$mount("#main-show");
  appMain.onEnterPageShow();
};

loadScript("/assets/admin/js/plugin/jquery-form/jquery-form.min.js", function() {
  loadScript("/assets/admin/js/plugin/d3/d3.min.js", function() {
    loadScript("/assets/admin/js/plugin/d3/d3pie.min.js", pagefunction)
  });
});
</script>
