<fieldset>

  <section class="recipe-info">
    <section>
      <label class="label">香水名稱</label>
      <label class="input">
        <input type="text" name="perfumeName" class="perfumeName input-lg">
      </label>
    </section>
    <section>
      <label class="label">紀錄</label>
      <label class="textarea textarea-expandable">
        <textarea rows="3" name="formulaLogs" class="formulaLogs custom-scroll"></textarea>
      </label>
    </section>
  </section>

  <section class="recipe-combo">
    <div class="row">
      <section class="col col-6">
        <label class="label">成分種類</label>
        <label class="select">
          <select name="ingredient" class="ingredient input-sm">
            <option value="0">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="label">滴數</label>
        <label class="input">
          <input type="text" name="drops" class="drops" placeholder="1/2/3...">
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" class="ingredient input-sm">
            <option value="0">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="text" name="drops" class="drops" placeholder="1/2/3...">
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" class="ingredient input-sm">
            <option value="0">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="text" name="drops" class="drops" placeholder="1/2/3...">
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" class="ingredient input-sm">
            <option value="0">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="text" name="drops" class="drops" placeholder="1/2/3...">
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" class="ingredient input-sm">
            <option value="0">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="text" name="drops" class="drops" placeholder="1/2/3...">
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" class="ingredient input-sm">
            <option value="0">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="text" name="drops" class="drops" placeholder="1/2/3...">
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="ingredient" class="ingredient input-sm">
            <option value="0">選取一種成份</option>
            <option value="1">Alexandra</option>
            <option value="2">Alice</option>
            <option value="3">Anastasia</option>
            <option value="4">Avelina</option>
          </select> <i></i> </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input type="text" name="drops" class="drops" placeholder="1/2/3...">
        </label>
      </section>
    </div>
  </section>


</fieldset>
