<!--=== Content Part ===-->
<div class="blog_masonry_3col">
	<div class="container content grid-boxes">

	  <% var c = 0; feed.data.forEach(function(post) { c++; %>

			<div class="grid-boxes-in">
				<img class="img-responsive" src="<%= post.full_picture %>" alt="">
				<div class="grid-boxes-caption">
					<ul class="list-inline grid-boxes-news">
						<li><i class="fa fa-clock-o"></i> <%=: post.created_time.substring(0, 10) %></li>
						<!--<li>|</li>
						<li><a href="#"><i class="fa fa-comments-o"></i> 06</a></li>-->
					</ul>
					<% if (post.message) { %>
					<p class="dont-break-out"><%= post.message %></p>
					<% } %>
				</div>
			</div>

			<% if (c == 2) { %>
				<div class="grid-boxes-in grid-boxes-qoute">
					<div class="grid-boxes-caption grid-boxes-quote">
						<p>香水和每個人的氣味，都應該是具有獨特性並具有標誌性的，而唯有透過每個人感受與創造氣味，才能追尋出每個不同自我。</p>
						<span>- Laboratory of Fragrance &amp; Perfume -</span>
					</div>
				</div>
			<% } %>

	  <% }); %>


	</div><!--/container-->
</div>
<!--=== End Content Part ===-->

<% LayoutUtils.addStylesheets('/assets/unify/css/pages/blog_masonry_3col.css') %>
<% LayoutUtils.addScripts('/assets/unify/js/pages/blog-masonry.js') %>
