
var userAppModel = {
  data: {
    cols: [],
    items: [],
    title: ""
  }
}

var userApp = new Vue({
  data: userAppModel,
  methods: {
    loadItems: function (cb) {
      window.onbeforeunload = null;
      $.get('/api/admin/mock', ajaxSuccess);

      function ajaxSuccess(result) {
        userAppModel.data.cols = result.data.cols;
        userAppModel.data.items = result.data.items;
        userAppModel.data.title = result.data.title;

        if (typeof cb !== 'undefined') setTimeout(cb, 0);
      } // end ajaxSuccess
    },
    renderTable: function() {
      /* BASIC ;*/
     var responsiveHelper_user_table = undefined;
     var responsiveHelper_datatable_fixed_column = undefined;
     var responsiveHelper_datatable_col_reorder = undefined;
     var responsiveHelper_datatable_tabletools = undefined;

     var breakpointDefinition = {
       tablet : 1024,
       phone : 480
     };
     /* TABLETOOLS */
     var table = $('#mock-table').dataTable({
       // Tabletools options:
       //   https://datatables.net/extensions/tabletools/button_options
       "sDom": "<'dt-toolbar'<'row'r<'col-xs-12 col-md-7 col-sm-7'f><'col-xs-12 col-md-4 col-sm-4'T><'col-md-1 col-sm-1 hidden-xs'l>>>" +
           "t"+
           "<'dt-toolbar-footer'<'row'<'col-md-6 col-xs-12 hidden-xs'i><'col-md-6 col-xs-12'p>>>",
       "oLanguage": {
          "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>',
          "sInfo": "顯示 _START_ 到 _END_ 總共 _TOTAL_ 筆紀錄",
         	"sInfoPostFix":  "",
         	"sInfoEmpty":    "顯示第 0 至 0 項結果，共 0 項",
         	"sInfoFiltered": "(從 _MAX_ 項結果中過濾)",
         	"sProcessing":   "處理中...",
         	"sLoadingRecords": "載入中...",
         	"sLengthMenu": "_MENU_",
         	"sZeroRecords":  "沒有符合的結果",
         	"oPaginate": {
         		"sFirst":    "第一頁",
            "sPrevious": "<i class='fa fa-chevron-left' aria-hidden='true'></i>",
            "sNext":     "<i class='fa fa-chevron-right' aria-hidden='true'></i>",
         		"sLast":     "最後一頁"
         	},
         	"sAria": {
         		"sortAscending":  ": 升冪排列",
         		"sortDescending": ": 降冪排列"
         	}
       },
      "columnDefs": [
        {
          "targets"  : 'no-sort',
          "orderable": false,
        },
      ],
       "oTableTools": {
         "aButtons": [
           {
             "sExtends": "text",
             "sButtonText": "檢視",
             "fnClick": function ( nButton, oConfig, oFlash ) {
             }
           },
           {
             "sExtends": "text",
             "sButtonText": "新增",
             "fnClick": function ( nButton, oConfig, oFlash ) {
             }
           },
           {
             "sExtends": "text",
             "sButtonText": "編輯",
             "fnClick": function ( nButton, oConfig, oFlash ) {
             }
           },
         ]
       },
       "autoWidth" : true,
       "preDrawCallback" : function() {
         // Initialize the responsive datatables helper once.
         if (!responsiveHelper_datatable_tabletools) {
           responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#mock-table'), breakpointDefinition);
         }
       },
       "rowCallback" : function(nRow) {
         responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
       },
       "drawCallback" : function(oSettings) {
         responsiveHelper_datatable_tabletools.respond();
       }
     });

     // selection
     table.on('click', 'tr', function () {
       if ( $(this).hasClass('selected') ) {
         $(this).removeClass('selected');
       } else {
         $('#mock-table tbody tr').removeClass('selected');
         $(this).addClass('selected');
       }
     });

     $('#mock-table-widget').fadeIn();
    },
    dblclick: function(index) {
    },
    selection: function (index) {

    },
  },
});
