<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <title>Analytics Dashboard &middot; MVP Ready</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="/assets/mvp/bower_components/fontawesome/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/mvp/bower_components/bootstrap/dist/css/bootstrap.min.css">

  <!-- App CSS -->
  <link rel="stylesheet" href="/assets/mvp/css/mvpready-admin.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="layout-fixed  ">

<div id="wrapper">

  <%- include partials/navbar.ejs %>

  <%- include partials/sidebar.ejs %>

  <div class="content-page">

    <%- body -%>

  </div> <!-- /.content-page -->

</div> <!-- /#wrapper -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Core JS -->
<script src="/assets/mvp/bower_components/jquery/dist/jquery.js"></script>
<script src="/assets/mvp/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/mvp/bower_components/slimscroll/jquery.slimscroll.js"></script>



<!-- Plugin JS -->
<script src="/assets/mvp/bower_components/flot/excanvas.min.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.pie.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.time.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.stack.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.categories.js"></script>
<script src="/assets/mvp/bower_components/flot.orderbars/js/jquery.flot.orderBars.js"></script>

<!-- App JS -->
<script src="/assets/mvp/global/js/mvpready-core.js"></script>
<script src="/assets/mvp/global/js/mvpready-helpers.js"></script>
<script src="/assets/mvp/js/mvpready-admin.js"></script>


<!-- Demo JS -->
<script src="/assets/mvp/global/js/demos/flot/line.js"></script>
<script src="/assets/mvp/global/js/demos/flot/pie.js"></script>
<script src="/assets/mvp/global/js/demos/flot/auto.js"></script>
<script src="/assets/mvp/global/js/demos/flot/scatter.js"></script>
<script src="/assets/mvp/global/js/demos/flot/vertical.js"></script>


</body>
</html>
