<style>
.color {
	color:white;
	padding: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	font-family: monospace;
}
</style>

<!-- widget grid -->
<section id="scent-index" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="scent-table-widget" data-widget-editbutton="false" style="display: none;">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->

        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>會員管理</h2>
        </header>

				<!-- widget div-->
				<div>
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
            <!-- end messageBox div -->
						<table id="scent-table" class="table table-striped table-bordered table-hover" width="100%">
							<thead>
								<tr>
									<th class="" data-class="expand"><i class="text-muted hidden-md hidden-sm hidden-xs"></i>ID</th>
									<th class="">排序</th>
									<th class="">香味分子</th>
									<th class="">名稱</th>
									<th class="">顏色</th>
									<th class="" data-hide="phone,tablet">香味感受</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="scent in data.items" v-on:click="selection($index)">
									<td><a href="/admin/#/admin/labfnp/scent/show/{{scent.id}}">{{ scent.sequence }}</a></td>
									<td>{{ scent.sequence }}</td>
									<td>{{ scent.name }}</td>
									<td>{{ scent.scentNote.title }} {{ scent.scentNote.title2 }}</td>
									<td><span class="color" style="background: {{ scent.color }};">{{ scent.color }}</span></td>
									<td>
										<div style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:280px;">
											<span title="{{ scent.feelings.join(', ') }}">{{ scent.feelings.join(', ') }}</span>
										</div>
									</td>
									<!-- <td align="center" style="cursor: pointer;">
                    <div class="row">
                      <a class="btn btn-default btn-xs" role="button" v-on:click="show(scent.id)">
                        <i class="fa-fw fa fa-eye text-muted" />
                      </a>
                      <a class="btn btn-default btn-xs" role="button" v-on:click="edit(scent.id)">
      									<i class="fa-fw fa fa-pencil-square-o text-muted"/>
                      </a>
                    </div>
									</td> -->
								</tr>
							</tbody>
						</table>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

	<!-- end row -->

</section>
<!-- end widget grid -->
<script type="text/javascript">

	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 *
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("/assets/admin/js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 *
	 */

	// PAGE RELATED SCRIPTS

	// pagefunction

	var pagefunction = function() {
		//console.log("cleared");

		/* // DOM Position key index //

			l - Length changing (dropdown)
			f - Filtering input (search)
			t - The Table! (datatable)
			i - Information (records)
			p - Pagination (paging)
			r - pRocessing
			< and > - div elements
			<"#id" and > - div with an id
			<"class" and > - div with a class
			<"#id.class" and > - div with an id and class

			Also see: http://legacy.datatables.net/usage/features
		*/

		<%- include vue.ejs %>
		scentApp.$mount("#scent-index");
		scentApp.loadItems(scentApp.renderTable);

	};

	// load related plugins

	loadScript("/assets/admin/js/plugin/datatables/jquery.dataTables.min.js", function(){
		loadScript("/assets/admin/js/plugin/datatables/dataTables.colVis.min.js", function(){
			loadScript("/assets/admin/js/plugin/datatables/dataTables.tableTools.min.js", function(){
				loadScript("/assets/admin/js/plugin/datatables/dataTables.bootstrap.min.js", function(){
					loadScript("/assets/admin/js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
				});
			});
		});
	});

	var pagedestroy = function() {
		scentApp = null;
		scentAppModel = null;
		$("#scent-table").remove();
		if (debugState) {
			console.log("✔ scent-table unbind");
		}
	}

</script>
