
<!-- client -->
<table id="main-table" class="table table-striped table-bordered table-hover" width="100%">
	<thead>
		<tr>
			<th class="" data-hide="phone">#</th>
			<th class="" data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>ID</th>
			<th class="">全名</th>
			<th class="" name="email">Email</th>
			<th class="" data-hide="phone,tablet">最近登入時間</th>
			<th class="no-sort  hidden-xs hidden-sm" data-hide="phone,tablet"></th>
		</tr>
	</thead>
	<!-- client only -->
	<tbody>
		<tr v-for="item in data.items" v-on:dblclick="dblclick(item.id)">
			<td>{{ item.id }}</td>
			<td><a href="/admin/#/admin/{{modelName}}/show/{{item.id}}">{{ item.username }}</a></td>
			<td>{{ item.displayName }}</td>
			<td>{{ item.email }}</td>
			<td>{{ item.lastLogin }} </td>
			<td align="center" style="cursor: pointer;">
				<div class="row">
					<a class="btn btn-default btn-xs" role="button" v-on:click="show(item.id)">
						<i class="fa-fw fa fa-eye text-muted" />
					</a>
					<a class="btn btn-default btn-xs" role="button" v-on:click="edit(item.id)">
						<i class="fa-fw fa fa-pencil-square-o text-muted"/>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
 </table>


<script type="text/javascript">
	var pagefunction = function() {

		// server only
		var columns = [
			{ "data": "id" },
			{ "data": "username" },
			{ "data": "displayName" },
			{ "data": "email" },
			{ "data": "lastLogin" }
		]

		// server only
		var columnDefs = [
      {
        "targets": 'no-sort',
        "orderable": false,
      },
			{
        "searchable": false,
        "targets": 2
      },
			{
				"targets"  : 5,
				"orderable": false,
				"searchable": false,
				"render": function ( data, type, row ) {
					var colBody =
					'<div class="row-action-buttons hidden-xs hidden-sm">'+
						'<a class="btn btn-default btn-xs" role="button" onclick="window.appMain.show('+row.id+')">'+
							'<i class="fa-fw fa fa-eye text-muted" />'+
						'</a>'+
						'<a class="btn btn-default btn-xs" role="button" onclick="window.appMain.edit('+row.id+')">'+
							'<i class="fa-fw fa fa-pencil-square-o text-muted"/>'+
						'</a>'+
					'</div>';
					return colBody;
				}
			},
		]
		var serverSidePaging = <%= (data.serverSidePaging != null)?data.serverSidePaging:false %>;
		<%- include vue.ejs %>
		appMain.$mount("#main-index");
		appMain.loadItems(appMain.renderTable);
	};
</script>
