var COMMON = {
  DOUBLE_CLICK_TIME_PERIOD: 250,
  DEFAULT_INDEX: -1,
  DEFAULT_AVATAR: "/assets/admin/img/avatars/default.png",
};

var itemBeforeEdit = {};
var modelName = "user";
var appModel = {
  modelName: modelName,
  data: {
    item: {
      avatar: '',
      displayName: '',
      username: '',
      email: '',
      firstName: '',
      lastName: '',
      password: '',
      Roles: [],
      RolesArray: [],
      Passports: [
        {
          password: ""
        }
      ]
    },
    items: [],
    option: {
      passwordConfirm: ''
    }
  },
  view: {
    table: {
      selectIndex: COMMON.DEFAULT_INDEX,
    },
  }
}

/* TABLETOOLS */


var columns = [
  { "data": "id" },
  { "data": "username" },
  { "data": "displayName" },
  { "data": "email" },
  { "data": "lastLogin" }
]

var columnDefs = [
  { "searchable": false, "targets": 2 },
  {
    "targets"  : 5,
    "orderable": false,
    "searchable": false,
    "render": function ( data, type, row ) {
      var colBody =
      '<td align="center" style="cursor: pointer;">'+
          '<a class="btn btn-default btn-xs" role="button" onclick="window.appMain.show('+row.id+')">'+
            '<i class="fa-fw fa fa-eye text-muted" />'+
          '</a>'+
          '<a class="btn btn-default btn-xs" role="button" onclick="window.appMain.edit('+row.id+')">'+
            '<i class="fa-fw fa fa-pencil-square-o text-muted"/>'+
          '</a>'+
        '</div>'+
      '</td>';


      return colBody;
    }
  },
]

<%- include ../default/vueMethod.ejs %>
// 需要新增函式可以對 defaultVueMathod 進行定義，如：
// defaultVueMathod.log = () => {console.log("123")}

window.appMain = new Vue({
  data: appModel,
  methods: defaultVueMathod,
});
