<option value=""></option>
<option value="B1">B1</option>
<option value="BU2">BU2</option>
<option value="B3">B3</option>
<option value="T4">T4</option>
<option value="B5">B5</option>
<option value="M6">M6</option>
<option value="B7">B7</option>
<option value="B8">B8</option>
<option value="B9">B9</option>
<option value="M10">M10</option>
<option value="M11">M11</option>
<option value="T12">T12</option>
<option value="B13">B13</option>
<option value="T14">T14</option>
<option value="BU15">BU15</option>
<option value="B16">B16</option>
<option value="B17">B17</option>
<option value="M18">M18</option>
<option value="BU19">BU19</option>
<option value="M20">M20</option>
<option value="M21">M21</option>
<option value="M22">M22</option>
<option value="M23">M23</option>
<option value="T24">T24</option>
<option value="T25">T25</option>
<option value="M26">M26</option>
<option value="BU27">BU27</option>
<option value="BX28">BX28</option>
<option value="T29">T29</option>
<option value="M30">M30</option>
<option value="T31">T31</option>
<option value="M32">M32</option>
<option value="BU33">BU33</option>
<option value="TX34">TX34</option>
<option value="B35">B35</option>
<option value="MU36">MU36</option>
<option value="M37">M37</option>
<option value="T38">T38</option>
<option value="T39">T39</option>
<option value="T40">T40</option>
<option value="B41">B41</option>
<option value="M42">M42</option>
<option value="M43">M43</option>
<option value="T44">T44</option>
<option value="B45">B45</option>
<option value="M46">M46</option>
<option value="BX47">BX47</option>
<option value="T48">T48</option>
<option value="B49">B49</option>
<option value="B50">B50</option>
<option value="MA51">MA51</option>
<option value="BA52">BA52</option>
<option value="TA53">TA53</option>
<option value="MA54">MA54</option>
<option value="MA55">MA55</option>
<option value="BA56">BA56</option>
<option value="TA57">TA57</option>
<option value="MA58">MA58</option>
<option value="TA59">TA59</option>
<option value="BA60">BA60</option>
<option value="BA61">BA61</option>
<option value="TA62">TA62</option>
<option value="M63">M63</option>
<option value="B64">B64</option>
<option value="MA65">MA65</option>
<option value="TA66">TA66</option>
<option value="TA67">TA67</option>
<option value="TA68">TA68</option>
<option value="BA69">BA69</option>
<option value="BA70">BA70</option>
<option value="BA71">BA71</option>
<option value="MA72">MA72</option>