<% LayoutUtils.addStylesheets('/assets/labfnp/css/recipeCreateBox.inc.css'); %>

<div class="box-wrapper" style="display: none;">
  <div class="box-inner">
    <!-- content -->
    <div class="content box-content">

      <!-- control -->
      <section class="row control">
        <div class="col col-md-12 text-center">
          <div class="pull-right">
            <button type="button" id='btn-cancel' class="btn btn-default">
              <i class="fa fa-3x fa-times-circle"></i>
            </button>
          </div>
        </div>
      </section>
      <!-- end control -->

      <!-- title -->
      <section class="row title">
        <div class="col col-md-12">
          <article class="title">
            <h2 class="visible-xs-*">如何建立配方：</h2>
            <h2 class="hidden-sm hidden-xs">選擇如何建立屬於您個人的氣味配方：</h2>
            <label class="hidden-sm hidden-xs">每個人身上的氣味與所使用的香水，都應該是獨特而具有標誌性。而唯有透過每個人各自的感受來創造專屬的氣味，才能真正展現出獨一無二、不同的自我。</label>
          </article>
        </div>
      </section>
      <!-- end description -->

      <!-- mode -->
      <section class="row text-center mode">
        <div class="col col-md-6 col-xs-12 box box-byFeeling">
          <label for="img-wrapper">以<b>氣味感覺</b>快速建立配方</label>
          <div class="img-wrapper">
            <a href="#!" id="btn-byFeeling">
              <img src="/assets/labfnp/img/recipe-create-by-feeling.jpg" alt="byFeeling"/>
            </a>
          </div>
          <label for="img-wrapper">第一次來嗎？請選擇這個。</label>
        </div>
        <div class="col col-md-6 col-xs-12 box box-byScent">
          <label for="img-wrapper">自訂<b>香味分子</b>以建立配方</label>
          <div class="img-wrapper">
            <a href="#!" id="btn-byScent">
              <img src="/assets/labfnp/img/recipe-create-by-scent.jpg" alt="byScent"/>
            </a>
          </div>
          <label for="img-wrapper">你是調香高手嗎？請點這裡。</label>
        </div>
      </section>
      <!-- end mode -->

      <!-- description -->
      <section class="row description">
        <div class="col col-md-12">
          <article class="description"></article>
        </div>
      </section>
      <!-- end description -->

    </div>
    <!-- end content -->
  </div>
</div>

<% LayoutUtils.addScripts('/assets/labfnp/page/explore/recipeCreateBox.js') %>
