<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> 控制台 <span>> 儀表板</span></h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks" class="">
			<li class="sparks-info">
				<h5> 總流量 <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
			<li class="sparks-info">
				<h5> 每日訪客數 <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- row -->
<div class="row">

	<div class="col-sm-12">

		<div class="well">
			<h1>Uptime</h1>
			<p>已運行 25 天又 10 小時</p>
			<ul class="list-inline">
				<li>&nbsp;&nbsp;&nbsp;
					<div class="easy-pie-chart txt-color-green easyPieChart" data-percent="25" data-pie-size="160">
						<span class="percent percent-sign txt-color-green font-xl semi-bold">25</span>
					</div>
					<div class="text-center">CPU Usage</div>
				</li>
				<li>&nbsp;&nbsp;&nbsp;
					<div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="36" data-pie-size="160">
						<span class="percent percent-sign txt-color-blue font-xl semi-bold">36</span>
					</div>
					<div class="text-center">Memory Usage</div>
				</li>
				<li>&nbsp;&nbsp;&nbsp;
					<div class="easy-pie-chart txt-color-pinkDark easyPieChart" data-percent="72" data-pie-size="160">
						<span class="percent percent-sign txt-color-pinkDark font-xl semi-bold">72</span>
					</div>
					<div class="text-center">Disk Usage</div>
				</li>
			</ul>

		</div>

	</div>
</div>

<!-- end row -->

<!-- row -->

<div class="row">


</div>

<!-- end row -->


<script type="text/javascript">

	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 *
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 *
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){
	 *  loadScript(".../plugin.js", run_after_loaded);
	 * }
	 *
	 * OR
	 *
	 * loadScript(".../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS

	// pagefunction

	var pagefunction = function() {

	};

	// end pagefunction

	// run pagefunction on load

	pagefunction();

</script>
