<div class="sidebar">

  <div class="sidebar-bg"></div><!-- /.sidebar-bg -->

  <div class="sidebar-trigger sidebar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
    <i class="fa fa-bars"></i>
  </div><!-- /.sidebar-trigger -->

  <div class="sidebar-inner sidebar-collapse collapse">

    <ul class="sidebar-menu">

      <li class="sidebar-header">
          主選單
      </li>

      <li class="active">
        <a href="/">
          <i class="fa fa-home"></i>
          首頁
        </a>
      </li>

      <li class="">
        <a href="/login">
          <i class="fa fa-sign-in"></i>
          登入系統
        </a>
      </li>

      <li class="">
        <a href="#">
          <i class="fa fa-unlock-alt"></i>
          忘記密碼
        </a>
      </li>

      <li class="divider"></li>

      <li class="sidebar-header">
          Elements
      </li>

      <li class="dropdown has_sub ">

        <a href="http://jumpstartthemes.com/#" class="">
          <i class="fa fa-edit"></i>

          Forms

          <span class="">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>

        <ul class="list-unstyled" style="">
          <li>
            <a href="#">
              Basic Inputs
            </a>
          </li>

          <li>
            <a href="#">
              Pickers &amp; Choice
            </a>
          </li>

          <li>
            <a href="#">
              Sliders <span class="label label-secondary pull-right">New</span>
            </a>
          </li>

          <li>
            <a href="#">
              Wizard <span class="label label-secondary pull-right">New</span>
            </a>
          </li>

          <li>
            <a href="#">
              Validation
            </a>
          </li>

          <li>
            <a href="#">
              WYSIWYG <span class="label label-secondary pull-right">New</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown has_sub ">
        <a href="http://jumpstartthemes.com/#" class="">
          <i class="fa fa-table"></i>

          Tables

          <span class="pull-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>

        <ul class="list-unstyled" style="">
          <li>
            <a href="#">
              Basic Tables
            </a>
          </li>

          <li>
            <a href="#">
              Data Tables <small>(Advanced)</small>
            </a>
          </li>
        </ul>
      </li>

      <li class="">
        <a href="#">
          <i class="fa fa-bars dropdown-icon "></i>
          Tabs &amp; Accordions
        </a>
      </li>

      <li class="">
        <a href="#">
          <i class="fa fa-calendar-o dropdown-icon "></i>
          Popups &amp; Alerts
        </a>
      </li>

      <li class="">
        <a href="#">
          <i class="fa fa-line-chart dropdown-icon "></i>
          Charts
        </a>
      </li>

      <li class="divider"></li>

      <li class="sidebar-header">Templates</li>

      <li>
        <a href="#" class="">
          <i class="fa fa-desktop"></i>
          Admin Layout #1
        </a>
      </li>

      <li>
        <a href="#" class="">
          <i class="fa fa-desktop"></i>

          Admin Layout #2

          <span class="label label-secondary pull-right">Current</span>
        </a>
      </li>

      <li>
        <a href="#" class="">
          <i class="fa fa-desktop"></i>

          Frontend Template
        </a>
      </li>

      <li>
        <a href="#" class="">
          <i class="fa fa-rocket"></i>

          Launch Template
        </a>
      </li>

      <li class="divider"></li>

    </ul>

    <div class="clearfix"></div>

  </div><!-- /.sidebar-inner -->

</div> <!-- /.side-menu -->
