
<!--=== Footer Version 1 ===-->
<div class="footer-v1">
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-md-3 md-margin-bottom-40">
        <a href="index.html"><img id="logo-footer" class="footer-logo" src="/assets/labfnp/img/lfp.png" width="120" alt=""></a>
        <p>LFP : 香料香水實驗室，自己的香水自己創造，由你創作專屬個人化香水。</p>
      </div><!--/col-md-3-->
      <!-- End About -->

      <!-- Latest -->
      <div class="col-md-3 md-margin-bottom-40">
        <div class="posts">
          <div class="headline"><h2>近期活動</h2></div>
          <ul class="list-unstyled latest-list">
            <li>
              <a href="#">LFP in 台北 八月松菸誠品進駐計畫</a>
              <small>May 8, 2016</small>
            </li>
            <li>
              <a href="#">嗅覺培養皿工作坊 in 高雄</a>
              <small>June 23, 2016</small>
            </li>
            <li>
              <a href="#">7/3台北調香工作坊 早鳥優惠報名中！</a>
              <small>September 15, 2016</small>
            </li>
          </ul>
        </div>
      </div><!--/col-md-3-->
      <!-- End Latest -->

      <!-- Link List -->
      <div class="col-md-3 md-margin-bottom-40">
        <div class="headline"><h2>網站地圖</h2></div>
        <ul class="list-unstyled link-list">
          <li><a href="/lab">實驗室</a><i class="fa fa-angle-right"></i></li>
          <li><a href="/wall">近期動態</a><i class="fa fa-angle-right"></i></li>
          <li><a href="/blog">網誌</a><i class="fa fa-angle-right"></i></li>
        </ul>
      </div><!--/col-md-3-->
      <!-- End Link List -->

      <!-- Address -->
      <div class="col-md-3 map-img md-margin-bottom-40">
        <div class="headline"><h2>聯繫我們</h2></div>
        <address class="md-margin-bottom-40">
          403 台中市西區<br/>
          中興一巷8號二樓C戶（綠光計劃）<br />
          <a href="https://goo.gl/maps/CXLfH89DxRD2">立即前往</a><br/>
          Tel: <a href="tel:+886423015682">(04)2301-5682</a><br/>
          Email: <a href="mailto:info@labfnp.com" class="">info@labfnp.com</a>
        </address>
      </div><!--/col-md-3-->
      <!-- End Address -->
    </div>
  </div>
</div><!--/footer-->

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          Copyright © Laboratory of Fragrance & Perfume Co. 2015. All Rights Reserved
          <!--<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>-->
        </p>
      </div>

      <!-- Social Links -->
      <div class="col-md-6">
        <ul class="footer-socials list-inline">
          <li>
            <a href="https://facebook.com/LabFnP" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- End Social Links -->
    </div>
  </div>
</div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->