/* BASIC ;*/
var responsiveHelper_user_table = undefined;
var responsiveHelper_datatable_fixed_column = undefined;
var responsiveHelper_datatable_col_reorder = undefined;
var responsiveHelper_datatable_tabletools = undefined;

var breakpointDefinition = {
 tablet : 1024,
 phone : 480
};


var ajax = "/api/admin/"+ modelName+ "/findPage";
if(!serverSide) ajax = null;

var defaultTableConfig = {
  "processing": false,
  "serverSide": serverSide,
  "ajax": ajax,
  "columns": columns,
  "columnDefs": columnDefs,

  "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f>T<'hidden-xs'l>r>" +
    "t"+
    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
  "oLanguage": {
    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>',
    "sInfo": "顯示 _START_ 到 _END_ 總共 _TOTAL_ 筆紀錄",
    "sInfoPostFix":  "",
    "sInfoEmpty":    "顯示第 0 至 0 項結果，共 0 項",
    "sInfoFiltered": "(從 _MAX_ 項結果中過濾)",
    "sProcessing":   "處理中...",
    "sLoadingRecords": "載入中...",
    "sLengthMenu":   "顯示 _MENU_ 項結果　",
    "sZeroRecords":  "沒有符合的結果",
    "oPaginate": {
      "sFirst":    "第一頁",
      "sPrevious": "上一頁",
      "sNext":     "下一頁",
      "sLast":     "最後一頁"
    },
    "sAria": {
      "sortAscending":  ": 升冪排列",
      "sortDescending": ": 降冪排列"
    }
  },
  "oTableTools": {
   "aButtons": [
     {
       "sExtends": "text",
       "sButtonText": "檢視",
       "fnClick": function ( nButton, oConfig, oFlash ) {
         var isSelected = appModel.view.table.selectIndex !== COMMON.DEFAULT_INDEX;
         if (isSelected) {
           var id = appModel.view.table.selectIndex;
           location.href = '/admin/#/admin/' + modelName + '/show/' + id;
         } else {
           messageApp.show({desc: '請選擇一筆', type: 'warning'});
         }
       }
     },
     {
       "sExtends": "text",
       "sButtonText": "新增",
       "fnClick": function ( nButton, oConfig, oFlash ) {
         location.href = '/admin/#/admin/'+ modelName +'/create';
       }
     },
     {
       "sExtends": "text",
       "sButtonText": "編輯",
       "fnClick": function ( nButton, oConfig, oFlash ) {
         var isSelected = appModel.view.table.selectIndex !== COMMON.DEFAULT_INDEX;
         if (isSelected) {
           var id = appModel.view.table.selectIndex;
           location.href = '/admin/#/admin/'+ modelName +'/edit/' + id;
         } else {
           messageApp.show({desc: '請選擇一筆資料', type: 'warning'});
         }
       }
     },
   ]
  },
  "autoWidth" : true,
  "preDrawCallback" : function() {
    if (!responsiveHelper_datatable_tabletools) {
      responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#main-table'), breakpointDefinition);
    }
  },
  "rowCallback" : function(nRow) {
   responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
  },
  "drawCallback" : function(oSettings) {
   responsiveHelper_datatable_tabletools.respond();
  }
}

var  defaultTable = $('#main-table').dataTable(defaultTableConfig);

// selection
defaultTable.on('click', 'tr', function () {

  if ( $(this).hasClass('selected') ) {
    $(this).removeClass('selected');
  } else {
    var data = defaultTable.fnGetData(this);
    $('#main-table tbody tr').removeClass('selected');
    $(this).addClass('selected');
  }
}).on('dblclick', 'tr', function() {
  var data = defaultTable.fnGetData(this);
  appMain.show(data.id);
});


$('#main-table-widget').fadeIn();
