<!--=== Blog Posts ===-->
<div class="bg-color-light">
	<div class="container content-sm">
		<div class="row">
			<!-- Blog Sidebar -->
			<div class="col-md-3">
				<div class="headline-v2"><h2>精選文章</h2></div>
				<!-- Trending -->
				<ul class="list-unstyled blog-trending margin-bottom-50">
					<% data.items.forEach(function(post){ %>
						<li>
							<h3><a href="/blog/show/<%= post.id %>"><%= post.title %></a></h3>
							<small><%= post.createdAtFormat %></small>
						</li>
					<% }); %>
				</ul>
				<!-- End Trending -->

				<!-- <div class="headline-v2"><h2>Tags</h2></div> -->
				<!-- Tags v2 -->
				<!-- <ul class="list-inline tags-v2 margin-bottom-50">
					<li><a href="#">活動</a></li>
					<li><a href="#">新聞</a></li>
					<li><a href="#">實驗室</a></li>
					<li><a href="#">課程</a></li>
				</ul> -->
				<!-- End Tags v2 -->

				<!-- <div class="headline-v2"><h2>電子報</h2></div> -->
				<!-- Blog Newsletter -->
				<!-- <div class="blog-newsletter">
					<p>獲得每月最新的活動訊息與產品情報。</p>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Email">
						<span class="input-group-btn">
							<button class="btn-u" type="button">訂閱</button>
						</span>
					</div>
				</div> -->
				<!-- End Blog Newsletter -->
			</div>
			<!-- End Blog Sidebar -->

			<!-- Blog All Posts -->
			<div class="col-md-9">
				<!-- Blog Posts -->
				<%- include postList.ejs %>
				<!-- End Blog Posts -->
				<div class="news-v3 bg-color-white margin-bottom-60">
					<div class="responsive-video">
						<iframe src="https://www.youtube.com/embed/VREirE8afgg" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<div class="news-v3-in">
						<ul class="list-inline posted-info">
							<li>By William Lin</li>
							<li>2016/08/11</li>
						</ul>
						<h2><a href="#">自造者世代（Makers）與第三次工業革命</a></h2>

              <p class="lead">自造者世代的興起源自於網路、科技的進步與每個人渴望參與創造的特質，人們開始了解到知識的傳遞與以開放的內心學習不同知識、跨領域的結合之重要性。</p>

              <p>因此近年開展出了，被稱為『第三次工業革命的機會』，則是一個新的工業化思維，並闡述人們開始從原來產品的使用者轉為產品的設計者，且發現到實際上自己參與實作並沒那麼難。讓過去被認為是所謂的休閒嗜好之活動，反而創造出原本不被想像的價值，以打破過去工業化時代大量化製造的障礙，以群募得方式找到某一特定群體所關注的議題，並實現此群體共同的想像。</p>

              <blockquote>『第三次工業革命的機會』，這會是我們大家的機會，一個群體共創價值的時代，不僅只是透過3D printer此類型工具做表象上的改變，同時更是在每個人的思維上都增添了不同創作力的想像！</blockquote>
					</div>
				</div>

				<!-- Pager v2 -->
				<ul class="pager pager-v2 pager-md no-margin">
					<li class="previous"><a href="#">&larr; Older</a></li>
					<li class="page-amount">1 of 7</li>
					<li class="next"><a href="#">Newer &rarr;</a></li>
				</ul>
				<!-- End Pager v2 -->
			</div>
			<!-- End Blog All Posts -->
		</div>
	</div>
</div>
<!--=== End Blog Posts ===-->
