<!--=== Blog Posts ===-->
<div class="bg-color-light">
	<div class="container content-sm">
		<div class="row">
			<!-- Blog Sidebar -->
			<div class="col-md-3">
				<div class="headline-v2"><h2>精選文章</h2></div>
				<!-- Trending -->
				<ul class="list-unstyled blog-trending margin-bottom-50">
					<% data.items.forEach(function(post){ %>
						<li>
							<h3><a href="/blog/show/<%= post.id %>"><%= post.title %></a></h3>
							<small><%= post.createdAtFormat %></small>
						</li>
					<% }); %>
				</ul>
				<!-- End Trending -->

				<!-- <div class="headline-v2"><h2>Tags</h2></div> -->
				<!-- Tags v2 -->
				<!-- <ul class="list-inline tags-v2 margin-bottom-50">
					<li><a href="#">活動</a></li>
					<li><a href="#">新聞</a></li>
					<li><a href="#">實驗室</a></li>
					<li><a href="#">課程</a></li>
				</ul> -->
				<!-- End Tags v2 -->

				<!-- <div class="headline-v2"><h2>電子報</h2></div> -->
				<!-- Blog Newsletter -->
				<!-- <div class="blog-newsletter">
					<p>獲得每月最新的活動訊息與產品情報。</p>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Email">
						<span class="input-group-btn">
							<button class="btn-u" type="button">訂閱</button>
						</span>
					</div>
				</div> -->
				<!-- End Blog Newsletter -->
			</div>
			<!-- End Blog Sidebar -->

			<!-- Blog All Posts -->
			<div class="col-md-9">
				<!-- Blog Posts -->
				<%- include postList.ejs %>
				<!-- End Blog Posts -->

				<!-- Pager v2 -->
				<!-- <ul class="pager pager-v2 pager-md no-margin">
					<li class="previous"><a href="#">&larr; Older</a></li>
					<li class="page-amount">1 of 7</li>
					<li class="next"><a href="#">Newer &rarr;</a></li>
				</ul> -->
				<!-- End Pager v2 -->
			</div>
			<!-- End Blog All Posts -->
		</div>
	</div>
</div>
<!--=== End Blog Posts ===-->
