<!-- FB OG tags-->
<% LayoutUtils.addMeta({ property:"og:title", content:"網誌：" + data.title +  + " | LFP: 香料香水實驗室，客製專屬香水"}); %>
<% LayoutUtils.addMeta({ property:"og:description", content:data.abstract }); %>
<% LayoutUtils.addMeta({ property:"og:image", content:data.coverUrl }); %>
<% LayoutUtils.addMeta({ property:"og:image:type", content:"image/jpeg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:width", content:"1200" }); %>
<% LayoutUtils.addMeta({ property:"og:image:height", content:"630" }); %>
<% LayoutUtils.addMeta({ property:"og:type", content:"article" }); %>
<% LayoutUtils.addMeta({ property:"article:published_time", content:data.createdAt })  %>
<% LayoutUtils.addMeta({ property:"article:modified_time", content:data.createdAt }) %>
<% LayoutUtils.addMeta({ property:"article:author", content:"https://www.facebook.com/LabFnP" }); %>
<% LayoutUtils.addMeta({ property:"article:section", content:"網誌" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"文章" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"網誌" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"blog" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"部落格" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"perfume" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"LFP" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"LabFnP" }); %>

<!--=== Blog Show ===-->
<div class="bg-color-light">
	<div class="container content-sm">
		<div class="row">
<!--
			<div class="col-md-3">
				<div class="headline-v2"><h2>精選文章</h2></div>
				<ul class="list-unstyled blog-trending margin-bottom-50">
					<li>
						<h3><a href="#">香味的一沙一世界：Zoom in &amp; out</a></h3>
						<small>23 Jan, 2015</small>
					</li>
					<li>
						<h3><a href="#">自造者世代（Makers）與第三次工業革命</a></h3>
						<small>22 Jan, 2015</small>
					</li>
				</ul>

				<div class="headline-v2"><h2>Tags</h2></div>
				<ul class="list-inline tags-v2 margin-bottom-50">
					<li><a href="#">活動</a></li>
					<li><a href="#">新聞</a></li>
					<li><a href="#">實驗室</a></li>
					<li><a href="#">課程</a></li>
				</ul>

				<div class="headline-v2"><h2>電子報</h2></div>

				<div class="blog-newsletter">
					<p>獲得每月最新的活動訊息與產品情報。</p>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Email">
						<span class="input-group-btn">
							<button class="btn-u" type="button">訂閱</button>
						</span>
					</div>
				</div>
			</div> -->

			<div class="col-md-10 col-md-offset-1">

				<%- include post.ejs %>

				<!-- Pager v2 -->
				<!-- <ul class="pager pager-v2 pager-md no-margin">
					<li class="previous"><a href="#">&larr; Older</a></li>
					<li class="page-amount">1 of 7</li>
					<li class="next"><a href="#">Newer &rarr;</a></li>
				</ul> -->
				<!-- End Pager v2 -->
			</div>
			<!-- End Blog All Posts -->
		</div>
	</div>
</div>
<!--=== End Blog Posts ===-->
