/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 table.dataTable tbody tr.selected {
   background-color: #B0BED9;
 }
 table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
   background-color: #acbad4;
 }
 table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
   background-color: #f6f6f6;
 }
 table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
   background-color: #aab7d1;
 }
 .dt-toolbar .dataTables_length {
   float: right;
 }


nav ul span.menu-item-parent {
 font-size: 13px;
}

.btn.btn-default.btn-xs {
  margin-right: 5px;
  margin-left: 5px;
}

.row-action-buttons {
  cursor: pointer;
  text-align: center;
}
