<!-- owl.carousel.js -->
<link rel="stylesheet" href="owlcarousel/assets/owl.carousel.css">
<link rel="stylesheet" href="http://www.owlcarousel.owlgraphic.com/assets/owlcarousel/assets/owl.theme.default.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

<style type="text/css">
.container.dark {
  background: #5b5959;
}
.creator-panel {
  max-width: 480px;
  min-height: 720px;
  padding: 50px 0;
}
.owl-carousel .item {
  border: 1px solid #fff;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.owl-carousel .item h4 {
  text-align: center;
  margin-top: 26px;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.owl-carousel .item.clicked {
  border-color: white;
  background: white;
}
.owl-carousel .item.clicked h4 {
  color: #000;
}


.owl-carousel .item.class0 {
  border-color: cyan;
}
.owl-carousel .item.class0 h4 {
  color: cyan;
}
.owl-carousel .item.class0.clicked {
  border-color: cyan;
  background: cyan;
}
.owl-carousel .item.class0.clicked h4 {
  color: #fff;
}

.owl-carousel .item.class1 {
  border-color: orange;
}
.owl-carousel .item.class1 h4 {
  color: orange;
}
.owl-carousel .item.class1.clicked {
  border-color: orange;
  background: orange;
}
.owl-carousel .item.class1.clicked h4 {
  color: #fff;
}

.owl-carousel .item.class2 {
  border-color: pink;
}
.owl-carousel .item.class2 h4 {
  color: pink;
}
.owl-carousel .item.class2.clicked {
  border-color: pink;
  background: pink;
}
.owl-carousel .item.class2.clicked h4 {
  color: #fff;
}
</style>

<div class="container dark creator-panel">
  <img src="assets/labfnp/img/creator-box.png" class="img-responsive" alt="" />
  <br/>
  <br/>

    <h4 id="name-label" style="color: pink; font-size: 24px; font-weight: 300; font-family: 'Lato', sans-serif;">BU15</h4>

<br/>
  <div class="owl-carousel">
    <div class="item"><h4>B1</h4></div>
    <div class="item class0"><h4>BU2</h4></div>
    <div class="item class0"><h4>B3</h4></div>
    <div class="item class0"><h4>T4</h4></div>
    <div class="item class1"><h4>B5</h4></div>
    <div class="item class1"><h4>M6</h4></div>
    <div class="item class2"><h4>B7</h4></div>
    <div class="item class2"><h4>B8</h4></div>
    <div class="item class2"><h4>B9</h4></div>
    <div class="item class2"><h4>M10</h4></div>
    <div class="item"><h4>M11</h4></div>
    <div class="item"><h4>T12</h4></div>
    <div class="item"><h4>B13</h4></div>
    <div class="item"><h4>T14</h4></div>
    <div class="item"><h4>BU15</h4></div>
    <div class="item"><h4>B16</h4></div>
    <div class="item"><h4>B17</h4></div>
    <div class="item"><h4>M18</h4></div>
    <div class="item"><h4>BU19</h4></div>
    <div class="item"><h4>M20</h4></div>
    <div class="item"><h4>M21</h4></div>
    <div class="item"><h4>M22</h4></div>
    <div class="item"><h4>M23</h4></div>
    <div class="item"><h4>T24</h4></div>
    <div class="item"><h4>T25</h4></div>
    <div class="item"><h4>M26</h4></div>
    <div class="item"><h4>BU27</h4></div>
    <div class="item"><h4>BX28</h4></div>
    <div class="item"><h4>T29</h4></div>
    <div class="item"><h4>M30</h4></div>
    <div class="item"><h4>T31</h4></div>
    <div class="item"><h4>M32</h4></div>
    <div class="item"><h4>BU33</h4></div>
    <div class="item"><h4>TX34</h4></div>
    <div class="item"><h4>B35</h4></div>
    <div class="item"><h4>MU36</h4></div>
    <div class="item"><h4>M37</h4></div>
    <div class="item"><h4>T38</h4></div>
    <div class="item"><h4>T39</h4></div>
    <div class="item"><h4>T40</h4></div>
    <div class="item"><h4>B41</h4></div>
    <div class="item"><h4>M42</h4></div>
    <div class="item"><h4>M43</h4></div>
    <div class="item"><h4>T44</h4></div>
    <div class="item"><h4>B45</h4></div>
    <div class="item"><h4>M46</h4></div>
    <div class="item"><h4>BX47</h4></div>
    <div class="item"><h4>T48</h4></div>
    <div class="item"><h4>B49</h4></div>
    <div class="item"><h4>B50</h4></div>
    <div class="item"><h4>MA51</h4></div>
    <div class="item"><h4>BA52</h4></div>
    <div class="item"><h4>TA53</h4></div>
    <div class="item"><h4>MA54</h4></div>
    <div class="item"><h4>MA55</h4></div>
    <div class="item"><h4>BA56</h4></div>
    <div class="item"><h4>TA57</h4></div>
    <div class="item"><h4>MA58</h4></div>
    <div class="item"><h4>TA59</h4></div>
    <div class="item"><h4>BA60</h4></div>
    <div class="item"><h4>BA61</h4></div>
    <div class="item"><h4>TA62</h4></div>
    <div class="item"><h4>M63</h4></div>
    <div class="item"><h4>B64</h4></div>
    <div class="item"><h4>MA65</h4></div>
    <div class="item"><h4>TA66</h4></div>
    <div class="item"><h4>TA67</h4></div>
    <div class="item"><h4>TA68</h4></div>
    <div class="item"><h4>BA69</h4></div>
    <div class="item"><h4>BA70</h4></div>
    <div class="item"><h4>BA71</h4></div>
    <div class="item"><h4>MA72</h4></div>
  </div>

  <div style="text-align: center; margin-top: 50px">
    <p style="color: #fff; font-weight: 700">BASE</p>
    <p style="color: #ddd">甜</p>
    <p style="color: #ddd">花香調</p>
    <p style="color: #ddd">棉花糖</p>
  </div>

</div>

<% LayoutUtils.addScripts('http://hammerjs.github.io/dist/hammer.min.js', '/owlcarousel/owl.carousel.min.js'); %>
<% LayoutUtils.addScriptBlock(`
$(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    stagePadding: 80,
    loop: true,
    center: true,
    mouseDrag: true,
    touchDrag: true,
//    pullDrag: true,
//    freeDrag: true,
    dots: false,
    nav: false,
    margin: 0,
    responsive: {
      0: {
        items: 3
      }
    }
  });

  $('.owl-carousel .item').click(function() {
    $('.owl-carousel .item').removeClass('clicked');
    $(this).addClass('clicked');
    $('#name-label').text($('h4', this).text());
    $('#name-label').css('color', $(this).css('border-color'));
  });


  //Hammer.defaults.behavior.touchAction = 'pan-y';

  $('.owl-carousel .item').each(function() {
    var hammertime = new Hammer($(this).get(), {
        drag: false,
        transform: false
    });
    hammertime.on('pan', function(ev) {
    	console.log(ev);
    });
  });

});
`); %>